html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
}

*:active,
*:hover,
*:focus,
*:visited {
  outline: 0;
  text-decoration: none;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

h1 {
  font-size: 24px;
}

button {
  cursor: pointer;
}

img {
  max-width: 100%;
}

.clear-before-this:before,
.clear-before-this:after,
.clear-after-this:before,
.clear-after-this:after {
  content: "";
  display: table;
}

body {
  font-family: 'Raleway', arial, sans-serif;
  line-height: 1.5;
  font-weight: normal;
  letter-spacing: 0.02em;
  font-weight: 500;
  font-size: 13px;
}

strong {
  font-weight: 700;
}

._row {
  display: block;
  width: 1140px;
  max-width: 100%;
  margin: 0 auto;
}

._row.fit, ._row ._row, ._row.flex ._row.collapse {
  width: auto;
  max-width: none;
  min-width: 0;
  margin: 0px -10px;
}

._row.collapse > ._column {
  padding: 0;
}

._row:before, ._row:after {
  content: "";
  display: table;
}

._row:after {
  clear: both;
}

._row ._row.not-fit, ._row ._row.collapse {
  margin: 0;
}

._column {
  display: block;
  float: left;
  padding: 0 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

[class*="_column"]+[class*="_column"]:last-child {
  float: right;
}

.size_100 {
  float: none;
}

.size_75 {
  width: 75%;
}

.size_60 {
  width: 60%;
}

.size_50 {
  width: 50%;
}

.size_33 {
  width: 33%;
}

.size_25 {
  width: 25%;
}

.size_20 {
  width: 20%;
}

/*
******** HELPERS
*/

.margin-top-1 {
  margin-top: 1em;
}

.margin-top-2 {
  margin-top: 2em;
}

.margin-bottom-1 {
  margin-bottom: 1em;
}

.margin-bottom-1_5 {
  margin-bottom: 1.5em;
}

.margin-bottom-2 {
  margin-bottom: 2em;
}

.margin-left-1 {
  margin-left: 1em;
}

.margin-right-1 {
  margin-right: 1em;
}

.padding_top_1 {
  padding-top: 1em;
}

.padding_top_2 {
  padding-top: 2em;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.position-relative {
  position: relative;
}

.float-none {
  float: none;
}

.centered {
  margin: 0 auto;
}

.word-break-all {
  word-break: break-all;
}






/*
********* MEDIA QUERIES
*/

@media screen and (min-width: 767px) and (max-width: 768px) {



}

@media screen and (max-width: 767px) {

._column, [class*="_column"]+[class*="_column"]:last-child, [class*="_column"]+[class*="_column"].end:last-child, [class*="_column"]+[class*="_column"].end {
  float: none;
}

._column {
  width: auto !important;
}

._row ._row.collapse > ._column.size_75 {
  width: 75% !important;
}

._row ._row.collapse > ._column.size_25 {
  width: 25% !important;
}

._row ._row.collapse > ._column {
  float: left;
}

._row ._row.collapse > ._column:last-child {
  float: right;
}

}

@media screen and (max-width: 450px) {

}

@media screen and (max-width: 319px) {

}


































/*
******** TOOLTIPS LIB ************************************************************************************************************************************
*/

.wrapper-wood .tooltip-holder {
  text-align: left;
  font-family: arial, helvetica, sans-serif;
}

.wrapper-wood .info-icon.top:before,
.wrapper-wood .info-icon.bottom:before {
  content: attr(data-tooltip);
  position: absolute;
  padding: 6px 12px;
  line-height: 18px;
  text-align: left;
  font-size: 13px;
  font-weight: normal;
  white-space: normal;
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  background: #414141;
  color: #fff;
  width: 230px;
}

.wrapper-wood .info-icon.top,
.wrapper-wood .info-icon.bottom {
  position: relative;
}

.wrapper-wood .info-icon.top:before,
.wrapper-wood .info-icon.top:after,
.wrapper-wood .info-icon.bottom:before,
.wrapper-wood .info-icon.bottom:after {
  opacity: 0;
  z-index: 98;
  -moz-transition: opacity 300ms, visibility 0ms linear 300ms;
  -o-transition: opacity 300ms, visibility 0ms linear 300ms;
  -webkit-transition: opacity 300ms, visibility 0ms linear;
  -webkit-transition-delay: 0s, 300ms;
  transition: opacity 300ms, visibility 0ms linear 300ms;
  pointer-events: none;
}

@media (max-width: 480px) {
  .wrapper-wood .info-icon.top:before,
  .wrapper-wood .info-icon.top:after,
  .wrapper-wood .info-icon.bottom:before,
  .wrapper-wood .info-icon.bottom:after {
    display: none;
  }
}

.wrapper-wood .info-icon.top:after,
.wrapper-wood .info-icon.bottom:after {
  content: '';
}





/* triangles */

.wrapper-wood .info-icon.top:after {
  content: '';
  display: block;
  position: absolute;
  height: 0;
  width: 0;
  border-top: 6px solid #2c3e50;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: none;
  top: -9px;
  bottom: auto;
}

.wrapper-wood .info-icon.bottom:after {
  content: '';
  display: block;
  position: absolute;
  height: 0;
  width: 0;
  border-top: none;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 6px solid #2c3e50;
  bottom: -9px;
  top: auto;
}

/* end of triangles */

.wrapper-wood .info-icon.top:before,
.wrapper-wood .info-icon.top:after,
.wrapper-wood .info-icon.bottom:before,
.wrapper-wood .info-icon.bottom:after {
  left: 50%;
  right: auto;
  margin-left: -6px;
}

.wrapper-wood .info-icon.top:before,
.wrapper-wood .info-icon.bottom:before {
  margin-left: -100px;
}
.wrapper-wood .info-icon.top:hover,
.wrapper-wood .info-icon.bottom:hover {
  /* putting comment here so :hover is declared first by itself to fix ie10 bug with transitions on psuedo elements- https://css-tricks.com/pseudo-element-animationstransitions-bug-fixed-in-webkit/ */
}

.wrapper-wood .info-icon.top:hover:before,
.wrapper-wood .info-icon.top:hover:after,
.wrapper-wood .info-icon.bottom:hover:before,
.wrapper-wood .info-icon.bottom:hover:after {
  opacity: 1;
  pointer-events: all;
  -moz-transition-delay: 0ms;
  -o-transition-delay: 0ms;
  -webkit-transition-delay: 0ms;
  transition-delay: 0ms;
}

/* vertical position */

.wrapper-wood .info-icon.top:before {
  top: -9px;
  bottom: auto;
  -moz-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
}

.wrapper-wood .info-icon.bottom:before {
  bottom: -9px;
  top: auto;
  -moz-transform: translateY(100%);
  -ms-transform: translateY(100%);
  -webkit-transform: translateY(100%);
  transform: translateY(100%);
}

/* end vertical position */
