html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
}

*:active,
*:hover,
*:focus,
*:visited {
  outline: 0;
  text-decoration: none;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

h1 {
  font-size: 1.5em;
}

button {
  cursor: pointer;
}

img {
  max-width: 100%;
}

.clear-before-this:before,
.clear-before-this:after,
.clear-after-this:before,
.clear-after-this:after {
  content: "";
  display: table;
}

body {
  font-family: 'Raleway', arial, sans-serif;
  line-height: 1.5;
  font-weight: normal;
  letter-spacing: 0.02em;
  font-weight: 500;
}

strong {
  font-weight: 700;
}

.row,
.row.main-content {
  display: block;
  width: 1140px;
  max-width: 100%;
  margin: 0 auto;
}

.row.fit, .row .row, .row.flex .row.collapse {
  width: auto;
  max-width: none;
  min-width: 0;
  margin: 0px -10px;
}

.row.collapse > .column {
  padding: 0;
}

.row:before, .row:after {
  content: "";
  display: table;
}

.row:after {
  clear: both;
}

.row .row.not-fit, .row .row.collapse {
  margin: 0;
}

.column {
  display: block;
  float: left;
  padding: 0 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

[class*="column"]+[class*="column"]:last-child {
  float: right;
}

.size_100 {
  float: none;
}

.size_75 {
  width: 75%;
}

.size_60 {
  width: 60%;
}

.size_50 {
  width: 50%;
}

.size_33 {
  width: 33%;
}

.size_25 {
  width: 25%;
}

.size_20 {
  width: 20%;
}

/*
******** HELPERS
*/

.margin-top-1 {
  margin-top: 1em;
}

.margin-top-2 {
  margin-top: 2em;
}

.margin-bottom-1 {
  margin-bottom: 1em;
}

.margin-bottom-1_5 {
  margin-bottom: 1.5em;
}

.margin-bottom-2 {
  margin-bottom: 2em;
}

.margin-left-1 {
  margin-left: 1em;
}

.margin-right-1 {
  margin-right: 1em;
}

.padding_top_1 {
  padding-top: 1em;
}

.padding_top_2 {
  padding-top: 2em;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.position-relative {
  position: relative;
}

.float-none {
  float: none;
}

.centered {
  margin: 0 auto;
}

.word-break-all {
  word-break: break-all;
}






/*
********* MEDIA QUERIES
*/

@media screen and (min-width: 767px) and (max-width: 768px) {



}

@media screen and (max-width: 767px) {

.column, [class*="column"]+[class*="column"]:last-child, [class*="column"]+[class*="column"].end:last-child, [class*="column"]+[class*="column"].end {
  float: none;
}

.column {
  width: auto !important;
}

.row .row.collapse > .column.size_75 {
  width: 75% !important;
}

.row .row.collapse > .column.size_25 {
  width: 25% !important;
}

.row .row.collapse > .column {
  float: left;
}

.row .row.collapse > .column:last-child {
  float: right;
}

}

@media screen and (max-width: 450px) {

}

@media screen and (max-width: 319px) {

}
