/*
*  COLORS:
*
*  basic: #A3643A
*/

body {
  font-size: 1.125em;
}

a {
  color: #A3643A;
}

h2 {
  font-size: 1.375em;
}

.wrapper-wood {
  background-image: url(/images/Desktop.png);
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: cover;
  padding: 1em 0.5em;
}

.main-content {
  background-color: rgba(255,255,255,0.8);
  color: #A3643A;
  border-radius: 0.3em;
}

.image {
  margin-left: -10px;
  padding: 1em;
}

.contact-info {
  margin: 1em 0;
  text-align: center;
}

.tabs {
  display: flex;
  justify-content: space-around;
  margin: 1em auto;
}

.tab-icon {
  border: 1px solid #A3643A;
  border-radius: 50%;
  padding: 1em;
  line-height: 1;
  text-align: center;
  margin: 0 auto;
  cursor: pointer;
  font-size: 2.25em;
  position: relative;
}

.tab-icon svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
}

.tab-active {
  background-color: #A3643A;
  color: #fff;
}

.tab-active ~ .tab-heading {
  font-weight: 700;
}

.tab-heading {
  margin-top: 0.5em;
}

.attributes h2 {
  text-align: center;
  font-weight: 700;
  margin: 1em auto;
}

.attributes ul {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
}

.attributes ul li {
  border: 1px solid #A3643A;
  padding: 1em 2em;
  border-radius: 0.25em;
}

.attributes ul li.selected {
  border: 1px solid #A3643A;
  background-color: #A3643A;
  color: #fff;
  padding: 1em 2em;
  border-radius: 0.25em;
}
