/*
*  COLORS:
*
*  basic: #A3643A
*/




/*
*  OVERRIDE BOOTSTRAP AND THEME:
*
*
*/

.wrapper-wood label {
  display: block;
  max-width: 100%;
  margin-bottom: 0;
  font-weight: normal;
}

.wrapper-wood h1,
.wrapper-wood .h1,
.wrapper-wood h2,
.wrapper-wood .h2,
.wrapper-wood h3,
.wrapper-wood .h3 {
  margin-top: 0;
  margin-bottom: 0;
}

p {
  margin: 0 !important;
}

ul, ol {
  margin: 0 !important;
}

.menu3dmega > ul li > a {
  border-radius: 4px;
}








.wrapper-wood a {
  color: #A3643A;
}

.wrapper-wood h2 {
  font-size: 22px;
  line-height: 1.5;
}

.wrapper-wood .no-select {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.wrapper-wood .error {
  margin: 32px auto;
  padding: 8px 0;
  text-align: center;
  color: #c0392b;
  border: 1px solid #c0392b;
  border-radius: 4px;
}

.wrapper-wood .error svg {
  margin-left: 20px;
}

.wrapper-wood {
  background-image: url(/images/Desktop.png);
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: cover;
  padding: 16px 8px;
}

.wrapper-wood .main-content {
  color: #A3643A;
}

.wrapper-wood .person {
  background-color: rgba(255,255,255,0.8);
  color: #A3643A;
  border-radius: 4px;
}

.wrapper-wood .image {
  margin-left: -10px;
  padding: 16px;
}

.wrapper-wood .image img {
  border-radius: 4px;
}

.wrapper-wood .contact-info {
  margin: 16px 0;
  text-align: center;
  font-size: 16px;
}

.wrapper-wood .contact-info a {
  font-weight: 700;
}

.wrapper-wood .contact-info a:hover {
  color: #cc804d;
  text-decoration: none;  
}

.wrapper-wood .name-under-photo {
  font-size: 16px;
  margin-top: -10px;
}


/* TABS */

.wrapper-wood .tabs {
  display: flex;
  justify-content: center;
  padding: 16px;

  background-color: rgba(255,255,255,0.8);
  color: #A3643A;
  border-radius: 4px;
}

.wrapper-wood .tab-icon {
  width: 60px;
  height: 60px;
  border: 1px solid #A3643A;
  border-radius: 50%;
  padding: 25px;
  line-height: 1;
  text-align: center;
  margin: 0 25px;
  cursor: pointer;
  font-size: 30px;
  position: relative;
}

.wrapper-wood .tab-icon svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
}

.wrapper-wood .tab-active {
  background-color: #A3643A;
  color: #fff;
}

.wrapper-wood .tab-heading {
  font-size: 16px;
  margin-top: 5px;
  text-align: center;
}

.wrapper-wood .tab-active ~ .tab-heading {
  font-weight: 700;
}











/* main-content-body */

.wrapper-wood .main-content-body {
  background-color: rgba(255,255,255,0.8);
  color: #A3643A;
  border-radius: 4px;
  padding: 13px 50px;
  margin-top: 10px;
}

.wrapper-wood .total-price._row.not-fit {
  margin-top: 48px;
}

.wrapper-wood .delivery-body .total-price._row.not-fit {
  margin-top: 39px;
}

.wrapper-wood .totals-body .total-price._row.not-fit {
  margin-top: 124px;
}

.wrapper-wood input[type="radio"] + label,
.wrapper-wood .wood-handler-left,
.wrapper-wood .wood-handler-right {
  transition: background-color 0.2s ease;
}

.wrapper-wood input[type="radio"] + label:hover,
.wrapper-wood .attributes input[type="radio"] + label:hover,
.wrapper-wood .total-price-btn:hover,
.wrapper-wood .where-to-deliver .attributes input[type="radio"] + label:hover,
.wrapper-wood .total-price .back-btn:hover,
.wrapper-wood .totals-loaded-cars .fully-load-btn:hover {
  border: 1px solid #cc804d;
  background-color: #cc804d;
  color: #fff;
  text-decoration: none;
}

.wrapper-wood input[type="radio"] + label.checked:hover {
  border: 1px solid #A3643A;
  background-color: #A3643A;
  color: #fff;
}

.wrapper-wood .wood-handler-left:hover,
.wrapper-wood .wood-handler-right:hover {
  background-color: #cc804d;
  color: #fff;
}








/* ATTRIBUTES */

.wrapper-wood .attributes .flex {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}

.wrapper-wood .attributes h2 {
  text-align: center;
  font-weight: 700;
}

.wrapper-wood .attribute:nth-child(1) h2 {
  margin-bottom: 5px;
}

.wrapper-wood .attribute:nth-child(2) h2 {
  margin-top: 20px;
  margin-bottom: 5px;
}

.wrapper-wood .attributes input[type="radio"] {
  visibility: hidden;
  display: none;
}

.wrapper-wood .attributes input[type="radio"] + label {
  border: 1px solid #A3643A;
  padding: 14px 48px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.wrapper-wood .checked {
  border: 1px solid #A3643A;
  background-color: #A3643A;
  color: #fff;
}

.wrapper-wood .item-wrapper.drevina {
  list-style-type: none;
  margin: 0 auto;
  text-align: center;
}

.wrapper-wood .attributes .drevina input[type="radio"] + label {
  padding: 14px 72px;
}




/* PLACEHOLDERS FOR ATTRIBUTES */

.wrapper-wood .attributes.placeholders h2 {
  text-align: center;
  font-weight: 700;
  margin: 29px auto;
  width: 144px;
  height: 36px;
  border: 1px solid #A3643A;
}

.wrapper-wood .attributes.placeholders ul {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
}

.wrapper-wood .attributes.placeholders ul li {
  padding: 24px 64px;
  border-radius: 4px;
}

/* SPINNER */

.wrapper-wood .loader{
  width: 20%;
  text-align: center;
  display: inline-block;
  /* vertical-align: top; */
}

.wrapper-wood .loader svg path,
.wrapper-wood .loader svg rect{
  fill: #A3643A;
}






/* WOOD RANGE INPUT */

.wrapper-wood .wood-range-input {
  /* margin: 20px auto; */
}

.wrapper-wood .wood-range-input h2 {
  text-align: center;
  font-weight: 700;
  margin-top: 20px;
}

.wrapper-wood .wood-actual-info {
  position: relative;
  text-align: center;
  margin-bottom: 16px;
  font-size: 16px;
}

.wrapper-wood .wood-actual-info .tooltip-holder {
  position: absolute;
  right: 130px;
}

.wrapper-wood .wood-body {
  position: relative;
  height: 44px;
}

.wrapper-wood .wood-counter {
  border: 1px solid #A3643A;
  background: transparent;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  border-radius: 2px;
}

.wrapper-wood .wood-counter .filling {
  background: #A3643A;
  display: block;
  border: 1px solid #A3643A;
  height: 42px;
}

.wrapper-wood .wood-handler-left,
.wrapper-wood .wood-handler-right {
  font-size: 35px;
  cursor: pointer;

  background-color: #A3643A;
  color: #fff;
  width: 40px;
  text-align: center;
  height: 44px;
  border-radius: 2px;
}

.wrapper-wood .wood-handler-left {
  position: absolute;
  left: 0;
  line-height: 1.2;
}

.wrapper-wood .wood-handler-right {
  position: absolute;
  right: 0;
  line-height: 1.3;
}

.wrapper-wood .wood-comparison {
  text-align: center;
  margin: 8px auto;
  font-size: 16px;
}

.wrapper-wood .wood-info {
  font-size: 13px;
  text-align: center;
}










/* TOTAL PRICE */

.wrapper-wood .total-price-info {
  text-align: center;
  font-size: 16px;
}

.wrapper-wood .total-price-btn {
  text-align: center;
  font-size: 16px;
  border: 1px solid #A3643A;
  background-color: #A3643A;
  color: #fff;
  padding: 12px 20px;
  border-radius: 4px;
  cursor: pointer;
}

.wrapper-wood .total-price .back-btn {
  text-align: center;
  font-size: 16px;
  border: 1px solid #A3643A;
  background-color: transparent;
  color: #A3643A;
  padding: 12px 20px;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 46px;
}

.wrapper-wood .total-price .flex {
  display: flex;
  justify-content: space-between;
  margin-top: 0;
}

.wrapper-wood .delivery-body .total-price .flex {
  display: flex;
  justify-content: space-between;
  margin-top: 67px;
}






/* DELIVERY TAB & CONTENT */

.wrapper-wood .delivery-body {
  background-color: rgba(255,255,255,0.8);
  color: #A3643A;
  border-radius: 4px;
  padding: 13px 50px;
  margin-top: 10px;
}

.wrapper-wood .delivery-body h2 {
  text-align: center;
  font-weight: 700;
}

.wrapper-wood .delivery-body form {
  margin: 16px auto;
}

.wrapper-wood .delivery-body form.when {
  margin: 6px auto 16px auto;
}

.wrapper-wood .delivery-body input#obceFilterInput {
  border: 1px solid #A3643A;
  background: transparent;
  padding: 14px;
  margin-top: 4px;
  border-radius: 4px;
  width: 100%;
  color: #A3643A;
  font-size: 18px;
}

.wrapper-wood .delivery-body input#obceFilterInput::placeholder {
  color: #A3643A;
  font-style: italic;
  opacity: 0.4;
  font-size: 14px;
}

.wrapper-wood .delivery-body input#obceFilterInput:focus::placeholder {
  opacity: 0;
}

.wrapper-wood .where-to-deliver .attributes input[type="radio"] + label {
  border: 1px solid #A3643A;
  padding: 14px 7px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  margin-right: 16px;

  white-space: nowrap;
  overflow: hidden !important;
  text-overflow: ellipsis;
  width: 140px;
}

.wrapper-wood .where-to-deliver {
  position: relative;
}

.wrapper-wood .filtered-values {
  position: absolute;
  width: 100%;
}

.wrapper-wood .filtered-values .attributes .flex {
  display: flex;
  justify-content: space-between;
}

/* .wrapper-wood .delivery-body .total-price {
  margin-top: 94px;
} */

.wrapper-wood .delivery-info {
  font-size: 12px;
  text-align: center;
  margin-bottom: 0;
}

.wrapper-wood .delivery-body .attributes.who input[type="radio"] + label {
  padding: 14px 48px;
}

.wrapper-wood .delivery-body .attributes.when input[type="radio"] + label {
  padding: 14px 28px;
}









/* TOTALS TAB */

.wrapper-wood .totals-body {
  background-color: rgba(255,255,255,0.8);
  color: #A3643A;
  border-radius: 4px;
  padding: 13px 50px;
  margin-top: 10px;
}

.wrapper-wood .totals-body ul {
  list-style-type: none;
  width: 100%;
}

.wrapper-wood .totals-body ul:after {
  content: '';
  clear: both;
}

.wrapper-wood .totals-body ul li {
  width: 23%;
  float: left;
  margin: 0.75%;
  white-space: nowrap;
  overflow: hidden !important;
  text-overflow: ellipsis;
}

.wrapper-wood .totals-body ul li:first-child {
  text-align: left;
}

.wrapper-wood .totals-body ul li:nth-child(2) {
  text-align: center;
}

.wrapper-wood .totals-body ul li:nth-child(3) {
  text-align: center;
}

.wrapper-wood .totals-body ul li:last-child {
  float: right;
  text-align: right;
}

.wrapper-wood .totals-body ul .list-heading {
  font-weight: 700;
}

.wrapper-wood .totals-lists {
  min-height: 100px;
  font-size: 16px;
}

.wrapper-wood .totals-loaded-cars {
  position: relative;
  margin-top: 20px;
  text-align: center;
}

.wrapper-wood .totals-loaded-cars .truck {
  font-size: 48px;
  text-align: center;
}

.wrapper-wood .totals-loaded-cars .info {
  font-size: 14px;
  text-align: center;
  margin: 11px auto;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
}

.wrapper-wood .totals-loaded-cars .fully-load-btn {
  border: 1px solid #A3643A;
  background: #A3643A;
  color: #fff;
  padding: 12px 40px !important;
  border-radius: 4px !important;
  cursor: pointer;
  text-align: center;
  margin: 64px auto 0 auto;
  font-size: 16px !important;
  width: 230px;
}



.wrapper-wood .truck {
  position: relative;
  left: -8%;
}

.wrapper-wood .truck-back {
  background: transparent;
  border: 2px solid #A3643A;
  border-radius: 4px;
  width: 60px;
  height: 40px;
  display: block;
  position: absolute;
  top: 0;
  left: 58%;
}

.wrapper-wood .truck-back:before {
  content: '';
  position: absolute;
  top: 26px;
  left: 10%;
  width: 20px;
  height: 20px;
  border: 5px solid #A3643A;
  border-radius: 50%;
}

.wrapper-wood .truck-back:after {
  content: '';
  position: absolute;
  top: 26px;
  left: 55%;
  width: 20px;
  height: 20px;
  border: 5px solid #A3643A;
  border-radius: 50%;
}

.wrapper-wood .truck-fill {
  position: absolute;
  top: 80%;
  bottom: 0;
  left: 0;
  right: 0;
  background: #A3643A;
  z-index: 1;
}

.wrapper-wood .total-to-order {
  margin-top: 48px;
  border-top: 3px solid #A3643A;
  font-size: 22px;
}

.wrapper-wood .total-to-order:after {
  content: '';
  clear: both;
}

.wrapper-wood .total-to-order .left {
  float: left;
  margin-top: 16px;
  font-weight: 700;
}

.wrapper-wood .total-to-order .right {
  float: right;
  margin-top: 16px;
  font-weight: 700;
}

.wrapper-wood .totals-body .total-price .back-btn {
  margin-left: 41%;
}



























/*
********* MEDIA QUERIES
*/

@media screen and (min-width: 769px) and (max-width: 1100px) {

  .wrapper-wood .truck-back {
    left: 60%;
  }

  .wrapper-wood .totals-body .total-price .back-btn {
    margin-left: 30%;
  }

  .wrapper-wood .attributes input[type="radio"] + label {
    padding: 14px 34px;
  }

  .wrapper-wood .wood-actual-info .tooltip-holder {
    right: 25%;
  }

  .wrapper-wood .wood-counter {
    width: 75%;
  }

  .wrapper-wood .delivery-body .attributes.who input[type="radio"] + label {
    padding: 14px 34px;
  }

  .wrapper-wood .delivery-body .attributes.when input[type="radio"] + label {
    padding: 14px 21px;
  }

  .wrapper-wood .total-price .back-btn {
    margin-left: 0;
  }

  .wrapper-wood .where-to-deliver .attributes input[type="radio"] + label {
    width: 118px;
  }

}

@media screen and (min-width: 767px) and (max-width: 768px) {

  .wrapper-wood .main-content-body {
    padding: 13px;
  }

  .wrapper-wood .attributes input[type="radio"] + label {
    padding: 14px 30px;
  }

  .wrapper-wood .wood-actual-info .tooltip-holder {
    right: 20%;
  }

  .wrapper-wood .wood-counter {
    width: 70%;
  }

  .wrapper-wood .delivery-body {
    padding: 13px;
  }

  .wrapper-wood .delivery-body .attributes.who input[type="radio"] + label,
  .wrapper-wood .delivery-body .attributes.when input[type="radio"] + label {
    padding: 14px;
  }

  .wrapper-wood .where-to-deliver .attributes input[type="radio"] + label {
    width: 100px;
  }

  .wrapper-wood .total-price .back-btn {
    padding: 12px;
    margin-left: 0;
  }

  .wrapper-wood .delivery-body .total-price-btn {
    padding: 12px 6px;
  }

  .wrapper-wood .totals-body {
    padding: 13px;
  }

  .wrapper-wood .truck-back {
    left: 61%;
  }

  .wrapper-wood .totals-body .total-price .back-btn {
    margin-left: 26%;
  }

}

@media screen and (max-width: 767px) {

  .wrapper-wood .person {
    display: none;
  }

  .wrapper-wood .main-content-body,
  .wrapper-wood .delivery-body,
  .wrapper-wood .totals-body {
    padding: 10px;
  }

  .wrapper-wood .attributes input[type="radio"] + label {
    padding: 14px 36px;
  }

  .wrapper-wood .wood-actual-info .tooltip-holder {
    right: 23%;
  }

  .wrapper-wood .wood-counter {
    width: 75%;
  }

  .wrapper-wood .delivery-body .attributes.who input[type="radio"] + label {
    padding: 14px 30px;
  }

  .wrapper-wood .delivery-body .attributes.when input[type="radio"] + label {
    padding: 14px 18px;
  }

  .wrapper-wood .where-to-deliver .attributes input[type="radio"] + label {
    width: 112px;
  }

  .wrapper-wood .total-price .back-btn {
    margin-left: 0;
  }

  .wrapper-wood .total-price .back-btn {
    padding: 12px;
  }

  .wrapper-wood .truck-back {
    left: 60%;
  }

  .wrapper-wood .totals-body .total-price .back-btn {
    margin-left: 35%;
  }

}

@media screen and (max-width: 400px) {

  .wrapper-wood .attributes input[type="radio"] + label {
    padding: 14px 26px;
  }

  .wrapper-wood .wood-actual-info .tooltip-holder {
    right: 20%;
  }

  .wrapper-wood .wood-counter {
    width: 70%;
  }

  .wrapper-wood .delivery-body .attributes.who input[type="radio"] + label {
    padding: 14px 16px;
  }

  .wrapper-wood .delivery-body .attributes.when input[type="radio"] + label {
    padding: 8px;
  }

  .wrapper-wood .where-to-deliver .attributes input[type="radio"] + label {
    width: 95px;
  }

  .wrapper-wood .total-price .back-btn {
    margin-left: 0;
    padding: 5px;
    line-height: 2.25;
  }

  .wrapper-wood .total-price-btn {
    padding: 5px;
    line-height: 2.25;
  }

  .wrapper-wood .truck-back {
    left: 61%;
  }

  .wrapper-wood .totals-body .total-price .back-btn {
    margin-left: 39%;
  }

}

@media screen and (max-width: 321px) {

  .wrapper-wood .tab-icon {
    width: 36px;
    height: 36px;
    font-size: 20px;
  }

  .wrapper-wood .attributes .drevina input[type="radio"] + label {
    padding: 14px 52px;
  }

  .wrapper-wood .wood-actual-info .tooltip-holder {
    right: 15%;
  }

  .wrapper-wood .attributes input[type="radio"] + label {
    padding: 14px 20px;
  }

  .wrapper-wood .wood-counter {
    width: 66%;
  }

  .wrapper-wood .delivery-body .attributes.who input[type="radio"] + label {
    padding: 14px 4px;
  }

  .wrapper-wood .delivery-body .attributes.when input[type="radio"] + label {
    padding: 14px 2px;
  }

  .wrapper-wood .where-to-deliver .attributes input[type="radio"] + label {
    width: 77px;
  }

  .wrapper-wood .total-price-info,
  .wrapper-wood .total-price .back-btn,
  .wrapper-wood .total-price-btn {
    font-size: 13px;
  }

  .wrapper-wood .truck-back {
    left: 63%;
  }

  .wrapper-wood .totals-body ul li {
    font-size: 14px;
  }

  .wrapper-wood .totals-loaded-cars .fully-load-btn {
    width: 180px;
    margin-top: 84px;
  }

  .wrapper-wood .totals-body .total-price._row.not-fit {
    margin-top: 84px;
  }

}
