/*
*  COLORS:
*
*  basic: #A3643A
*  hover: #cc804d;
*/

/*
*  GLOBALS:
*
*
*/
/* .wrapper-wood .where-to-deliver .attributes input[type="radio"] + label */
.wrapper-wood .attributes input[type="radio"] + label,
.wrapper-wood .total-price-btn,
.wrapper-wood .total-price .back-btn,
.wrapper-wood .totals-loaded-cars .fully-load-btn {
  border: 1px solid #A3643A;
  padding: 0 7px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  white-space: nowrap;
  vertical-align: middle;
  text-align: center;
  line-height: 3.5;
}

.wrapper-wood .total-price-btn,
.wrapper-wood .total-price .back-btn {
  position: absolute;
  bottom: 15px;
  right: 50px;
  min-width: 130px;
}

.wrapper-wood .tab2 .total-price .back-btn {
  right: 35%;
}

.wrapper-wood .tab3 .total-price .back-btn {
  right: 35%;
}

.wrapper-wood .total-price-info {
  text-align: center;
  font-size: 16px;
  padding-top: 8px;
  position: absolute;
  bottom: 15px;
}



/*
*  OVERRIDE BOOTSTRAP AND THEME:
*
*
*/

.wrapper-wood label {
  display: block;
  max-width: 100%;
  margin-bottom: 0;
  font-weight: normal;
}

.wrapper-wood h1,
.wrapper-wood .h1,
.wrapper-wood h2,
.wrapper-wood .h2,
.wrapper-wood h3,
.wrapper-wood .h3 {
  margin-top: 0;
  margin-bottom: 0;
}

p {
  margin: 0 !important;
}

ul, ol {
  margin: 0 !important;
}

.menu3dmega > ul li > a {
  border-radius: 4px;
}








.wrapper-wood a {
  color: #A3643A;
}

.wrapper-wood h2 {
  font-size: 22px;
  line-height: 1.5;
}

.wrapper-wood .no-select {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.wrapper-wood .error {
  margin: 32px auto;
  padding: 8px 0;
  text-align: center;
  color: #c0392b;
  border: 1px solid #c0392b;
  border-radius: 4px;
}

.wrapper-wood .error svg {
  margin-left: 20px;
}

.wrapper-wood {
  background-image: url(/images/Desktop.png);
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: cover;
  padding: 16px 8px;
}

.wrapper-wood .main-content {
  color: #A3643A;
}

.wrapper-wood .person {
  background-color: rgba(255,255,255,0.8);
  color: #A3643A;
  border-radius: 4px;
}

.wrapper-wood .image {
  margin-left: -10px;
  padding: 16px;
}

.wrapper-wood .image img {
  border-radius: 4px;
}

.wrapper-wood .contact-info {
  margin: 16px 0;
  text-align: center;
  font-size: 16px;
}

.wrapper-wood .contact-info a {
  font-weight: 700;
}

.wrapper-wood .contact-info a:hover {
  color: #cc804d;
  text-decoration: none;
}

.wrapper-wood .name-under-photo {
  font-size: 16px;
  margin-top: -10px;
}


/* TABS */

.wrapper-wood .tabs {
  display: flex;
  justify-content: space-between;
  padding: 13px 50px 10px 50px;

  background-color: rgba(255,255,255,0.8);
  color: #A3643A;
  border-radius: 4px;
}

.tabs svg.fa-angle-right {
  font-size: 40px;
  margin-top: 13px;
}

.wrapper-wood .tab-icon {
  width: 60px;
  height: 60px;
  border: 1px solid #A3643A;
  border-radius: 50%;
  padding: 25px;
  line-height: 1;
  text-align: center;
  margin: 0 auto;
  cursor: pointer;
  font-size: 30px;
  position: relative;
}

.wrapper-wood .tab-icon svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
}

.wrapper-wood .tab-active {
  background-color: #A3643A;
  color: #fff;
}

.wrapper-wood .tab-heading {
  font-size: 16px;
  margin-top: 5px;
  text-align: center;
}

.wrapper-wood .tab-active ~ .tab-heading {
  font-weight: 700;
}











/* main-content-body */

.wrapper-wood .main-content-body {
  background-color: rgba(255,255,255,0.8);
  color: #A3643A;
  border-radius: 4px;
  padding: 0 50px;
  margin-top: 10px;
  min-height: 534px;
  position: relative;
}

.wrapper-wood .main-content-body h2 {
  text-align: center;
  font-weight: 700;
}

.wrapper-wood .total-price._row.not-fit {
  margin-top: 16px;
  padding-bottom: 15px;
}

.wrapper-wood input[type="radio"] + label,
.wrapper-wood .wood-handler-left,
.wrapper-wood .wood-handler-right {
  transition: background-color 0.2s ease;
}

.wrapper-wood input[type="radio"] + label:hover,
.wrapper-wood .attributes input[type="radio"] + label:hover,
.wrapper-wood .total-price-btn:hover,
.wrapper-wood .where-to-deliver .attributes input[type="radio"] + label:hover,
.wrapper-wood .total-price .back-btn:hover,
.wrapper-wood .totals-loaded-cars .fully-load-btn:hover {
  border: 1px solid #cc804d;
  background-color: #cc804d;
  color: #fff;
  text-decoration: none;
}

.wrapper-wood input[type="radio"] + label.checked:hover {
  border: 1px solid #A3643A;
  background-color: #A3643A;
  color: #fff;
}

.wrapper-wood .wood-handler-left:hover,
.wrapper-wood .wood-handler-right:hover {
  background-color: #cc804d;
  color: #fff;
}









/* ATTRIBUTES */

.wrapper-wood .attributes .flex {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}

.wrapper-wood .main-content:nth-child(1) h2 {
  padding-top: 15px;
  margin-bottom: 5px;
}

.wrapper-wood .main-content:nth-child(2) h2 {
  margin-top: 30px;
  margin-bottom: 5px;
}

.wrapper-wood .attributes input[type="radio"] {
  visibility: hidden;
  display: none;
}

.wrapper-wood .checked {
  border: 1px solid #A3643A;
  background-color: #A3643A;
  color: #fff;
}

.wrapper-wood .item-wrapper.drevina {
  list-style-type: none;
  margin: 0 auto;
  text-align: center;
}





/* PLACEHOLDERS FOR ATTRIBUTES */

.wrapper-wood .attributes.placeholders {
  position: relative;
  top: 15px;
  height: 228px;
}

.wrapper-wood .attributes.placeholders h2:nth-child(1) {
  position: absolute;
  top: 0;
}

.wrapper-wood .attributes.placeholders h2:nth-child(2) {
  position: absolute;
  top: 80px;
}

.wrapper-wood .attributes.placeholders h2:nth-child(3) {
  position: absolute;
  top: 160px;
}

.wrapper-wood .attributes.placeholders h2 {
  border: 1px solid #A3643A;
  width: 144px;
  height: 50px;
  line-height: 2.3;
  padding-top: 0;
  margin-bottom: 0;

  position: absolute;
  top: 15px;
  left: 50%;
  transform: translateX(-50%);
}







/* SPINNER */

.wrapper-wood .loader{
  width: 20%;
  text-align: center;
  display: inline-block;
}

.wrapper-wood .loader svg path,
.wrapper-wood .loader svg rect{
  fill: #A3643A;
}






/* WOOD RANGE INPUT */

.wrapper-wood .wood-actual-info {
  position: relative;
  text-align: center;
  margin-bottom: 10px;
  font-size: 16px;
}

.wrapper-wood .wood-actual-info .tooltip-holder {
  position: absolute;
  right: 130px;
}

.wrapper-wood .wood-body {
  display: flex;
  justify-content: space-between;
}

.wrapper-wood .wood-handler-left,
.wrapper-wood .wood-handler-right {
  font-size: 35px;
  cursor: pointer;

  background-color: #A3643A;
  color: #fff;
  width: 40px;
  text-align: center;
  height: 44px;
  border-radius: 2px;
}

.wrapper-wood .wood-handler-left {
  line-height: 1.2;
}

.wrapper-wood .wood-handler-right {
  line-height: 1.3;
}

.wrapper-wood .wood-counter {
  background-color: rgba(255,255,255,0.25);
  width: 80%;
  border-radius: 2px;
  height: 44px;
  margin-bottom: 3px;
}

.wrapper-wood .wood-counter .filling {
  background: #A3643A;
  min-width: 0;
}

.wrapper-wood .wood-comparison {
  text-align: center;
  margin: 8px auto;
  font-size: 16px;
}

.wrapper-wood .wood-info {
  font-size: 13px;
  text-align: center;
}







/* TOTAL PRICE */

.wrapper-wood .total-price .flex {
  display: flex;
  justify-content: space-between;
  margin-top: 0;
}







/* DELIVERY TAB & CONTENT */

.wrapper-wood .main-content input#obceFilterInput {
  border: 1px solid #A3643A;
  background: transparent;
  padding: 14px;
  border-radius: 4px;
  width: 100%;
  color: #A3643A;
  font-size: 18px;
}

.wrapper-wood .main-content input#obceFilterInput::placeholder {
  color: #A3643A;
  font-style: italic;
  opacity: 0.4;
  font-size: 14px;
}

.wrapper-wood .main-content input#obceFilterInput:focus::placeholder {
  opacity: 0;
}

.wrapper-wood .where-to-deliver .attributes input[type="radio"] + label {
  white-space: normal;
  word-break: break-word;
  line-height: 1.25;
  padding: 7px;
  height: 55px;
}

.wrapper-wood .where-to-deliver {
  position: relative;
}

.wrapper-wood .filtered-values {
  position: absolute;
  width: 100%;
}

.wrapper-wood .filtered-values .attributes ul li {
  width: 32%;
  position: relative;
}

.wrapper-wood .filtered-values .attributes ul li:nth-child(1) {
  margin: 8px 0 8px 0;
}

.wrapper-wood .filtered-values .attributes ul li:nth-child(2) {
  margin: 8px;
}

.wrapper-wood .filtered-values .attributes ul li:nth-child(3) {
  margin: 8px -4px 8px 0;
}

.wrapper-wood .delivery-info {
  font-size: 12px;
  text-align: center;
  margin-bottom: 18px !important;
}









/* TOTALS TAB */

.wrapper-wood .main-content ul {
  list-style-type: none;
  width: 100%;
}

.wrapper-wood .main-content ul:after {
  content: '';
  clear: both;
}

.wrapper-wood .main-content .totals-lists ul li {
  width: 23%;
  float: left;
  margin: 0.75%;
  white-space: nowrap;
  overflow: hidden !important;
  text-overflow: ellipsis;
}

.wrapper-wood .main-content .totals-lists ul li:first-child {
  text-align: left;
}

.wrapper-wood .main-content .totals-lists ul li:nth-child(2) {
  text-align: center;
}

.wrapper-wood .main-content .totals-lists ul li:nth-child(3) {
  text-align: center;
}

.wrapper-wood .main-content .totals-lists ul li:last-child {
  float: right;
  text-align: right;
}

.wrapper-wood .main-content ul .list-heading {
  font-weight: 700;
}

.wrapper-wood .totals-lists {
  min-height: 100px;
  font-size: 16px;
  padding-top: 15px;
}

.wrapper-wood .totals-loaded-cars {
  position: relative;
  margin-top: 40px;
  text-align: center;
}

.wrapper-wood .totals-loaded-cars .truck {
  font-size: 48px;
  text-align: center;
}

.wrapper-wood .totals-loaded-cars .info {
  font-size: 14px;
  text-align: center;
  margin: 11px auto;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
}

.wrapper-wood .truck {
  position: relative;
  left: -8%;
}

.wrapper-wood .truck-back {
  background: transparent;
  border: 2px solid #A3643A;
  border-radius: 4px;
  width: 60px;
  height: 40px;
  display: block;
  position: absolute;
  top: 0;
  left: 58%;
}

.wrapper-wood .truck-back:before {
  content: '';
  position: absolute;
  top: 26px;
  left: 10%;
  width: 20px;
  height: 20px;
  border: 5px solid #A3643A;
  border-radius: 50%;
}

.wrapper-wood .truck-back:after {
  content: '';
  position: absolute;
  top: 26px;
  left: 55%;
  width: 20px;
  height: 20px;
  border: 5px solid #A3643A;
  border-radius: 50%;
}

.wrapper-wood .truck-fill {
  position: absolute;
  top: 80%;
  bottom: 0;
  left: 0;
  right: 0;
  background: #A3643A;
  z-index: 1;
}

.wrapper-wood .truck-fill-bottom {
  position: absolute;
  top: 70%;
  bottom: 0;
  left: 0;
  right: 0;
  background: #A3643A;
  z-index: 1;
}

.wrapper-wood .total-to-order {
  border-top: 3px solid #A3643A;
  font-size: 22px;
  position: absolute;
  left: 50px;
  right: 50px;
  bottom: 115px;
}

.wrapper-wood .total-to-order:after {
  content: '';
  clear: both;
}

.wrapper-wood .total-to-order .left {
  float: left;
  margin-top: 16px;
  font-weight: 700;
}

.wrapper-wood .total-to-order .right {
  float: right;
  margin-top: 16px;
  font-weight: 700;
}

.wrapper-wood .totals-loaded-cars .fully-load-btn {
  margin: 0 auto;
}


























/*
********* MEDIA QUERIES
*/

@media screen and (min-width: 769px) and (max-width: 1100px) {

  .wrapper-wood .main-content-body {
    padding: 0 20px;
  }

  .wrapper-wood .truck-back {
    left: 60%;
  }

  .wrapper-wood .wood-actual-info .tooltip-holder {
    right: 25%;
  }

  .wrapper-wood .wood-counter {
    width: 75%;
  }

  .wrapper-wood .tab2 .total-price .back-btn {
    right: 38%;
  }

  .wrapper-wood .tab3 .total-price .back-btn {
    right: 39%;
  }

  .wrapper-wood .total-price-btn, .wrapper-wood .total-price .back-btn {
    right: 20px;
  }

}

@media screen and (min-width: 767px) and (max-width: 768px) {

  .wrapper-wood .tabs {
    padding: 13px 10px 10px 10px;
  }

  .wrapper-wood .main-content-body {
    padding: 0 10px;
  }

  .wrapper-wood .wood-actual-info .tooltip-holder {
    right: 20%;
  }

  .wrapper-wood .wood-counter {
    width: 70%;
  }

  .wrapper-wood .truck-back {
    left: 61%;
  }

  .wrapper-wood .tab2 .total-price .back-btn {
    right: 37%;
  }

  .wrapper-wood .tab3 .total-price .back-btn {
    right: 37%;
  }

  .wrapper-wood .total-price-btn, .wrapper-wood .total-price .back-btn {
    right: 10px;
  }

  .wrapper-wood .person {
    width: 40%;
  }

  .wrapper-wood .person + ._column.size_50 {
    width: 60%;
  }

  .wrapper-wood .image {
    margin-top: 10px;
  }

  .wrapper-wood .name-under-photo {
    margin-top: 10px !important;
  }

  .wrapper-wood .contact-info {
    margin: 10px 0;
    width: 100%;
  }

}

@media screen and (max-width: 767px) {

  .wrapper-wood .tabs {
    padding: 13px 10px 10px 10px;
  }

  .wrapper-wood .person {
    display: none;
  }

  .wrapper-wood .main-content-body {
    padding: 0 10px;
  }

  .wrapper-wood .wood-actual-info .tooltip-holder {
    right: 23%;
  }

  .wrapper-wood .wood-counter {
    width: 75%;
  }

  .wrapper-wood .truck-back {
    left: 60%;
  }

  .wrapper-wood .total-price-btn, .wrapper-wood .total-price .back-btn {
    right: 10px;
  }

  .wrapper-wood .total-price-btn, .wrapper-wood .total-price .back-btn {
    min-width: 120px;
  }

  .wrapper-wood .attributes input[type="radio"] + label, .wrapper-wood .total-price-btn, .wrapper-wood .total-price .back-btn, .wrapper-wood .totals-loaded-cars .fully-load-btn {
    font-size: 14px;
  }

  .wrapper-wood .total-to-order {
    left: 10px;
    right: 10px;
  }

}

@media screen and (max-width: 400px) {

  .wrapper-wood .wood-actual-info .tooltip-holder {
    right: 20%;
  }

  .wrapper-wood .wood-counter {
    width: 70%;
  }

  .wrapper-wood .truck-back {
    left: 61%;
  }

  .wrapper-wood .total-price-btn, .wrapper-wood .total-price .back-btn {
    min-width: 80px;
  }

  .wrapper-wood .tab2 .total-price .back-btn {
    right: 28%;
  }

  .wrapper-wood .tab3 .total-price .back-btn {
    right: 28%;
  }

}

@media screen and (max-width: 321px) {

  .wrapper-wood .main-content-body {
    min-height: 584px;
  }

  .tabs svg.fa-angle-right {
    font-size: 30px;
    margin-top: 20px;
  }

  .wrapper-wood .tab-icon {
    width: 36px;
    height: 36px;
    font-size: 20px;
  }

  .wrapper-wood .wood-actual-info .tooltip-holder {
    right: 15%;
  }

  .wrapper-wood .wood-counter {
    width: 66%;
  }

  .wrapper-wood .truck-back {
    left: 63%;
  }

  .wrapper-wood .attributes input[type="radio"] + label, .wrapper-wood .total-price-btn, .wrapper-wood .total-price .back-btn, .wrapper-wood .totals-loaded-cars .fully-load-btn {
    font-size: 12px;
  }

  .wrapper-wood .total-price-info,
  .wrapper-wood .tab2 .total-price-info,
  .wrapper-wood .tab2 .total-price .back-btn,
  .wrapper-wood .total-price-btn {
    width: 90%;
  }

  .wrapper-wood .total-price-info {
    width: 50%;
    right: 50%;
    transform: translateX(50%);
    bottom: 70px;
  }

  .wrapper-wood .tab2 .total-price .back-btn {
    width: 45%;
    left: 10px;
  }

  .wrapper-wood .tab2 .total-price-btn {
    width: 45%;
    right: 10px;
  }

  .wrapper-wood .tab3 .total-price .back-btn {
    width: 45%;
    left: 10px;
  }

  .wrapper-wood .tab3 .total-price-btn {
    width: 45%;
    right: 10px;
  }


}
